.nav
	background black
	ul
		display flex
		justify-content space-between
		li
			display inline-block
			a
				display inline-block
				font-size 18px
				padding 15px
				color white
				font-family: "Lato-Heavy";